<p>gym-offer-detail-add works!</p>

<h2>Add new</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="text">text</label>
        <input type="text" formControlName="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="price">price</label>
        <input type="number" formControlName="price" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="months">months</label>
        <input type="number" formControlName="months" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="description">description</label>
        <input type="text" formControlName="description" class="form-control"/>
    </div>

<!--    <div class="form-group">-->
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add</button>
<!--    </div>-->
</form>

<a class="btn" routerLink="/brand/{{bid}}/offer/{{id}}/details" class="btn btn-link">Back</a><br>

